*{
box-sizing:border-box;
}

.auth-container,
.dashboard,
.jobs-container{

max-width:500px;

width:100%;

margin:120px auto;

padding:40px;

background:white;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,0.1);

}

.auth-container input,
.auth-container select,
.auth-container textarea{

width:100%;

padding:15px;

margin-bottom:20px;

border:1px solid #ddd;

border-radius:10px;

}

.auth-container button{

width:100%;

padding:15px;

border:none;

background:#2563eb;

color:white;

border-radius:10px;

cursor:pointer;

}

.job-card{

background:white;

padding:30px;

margin-bottom:20px;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,0.08);

}

.dashboard a{

display:inline-block;

padding:14px 30px;

background:#2563eb;

color:white;

text-decoration:none;

border-radius:10px;

font-weight:600;

transition:0.3s;

}

.dashboard a:hover{

background:#111827;

}

/* LAPTOP */

@media(max-width:1024px){

.auth-container,
.dashboard,
.jobs-container{

max-width:90%;

margin:80px auto;

}

}

/* PHONE */

@media(max-width:480px){

.auth-container,
.dashboard,
.jobs-container{

max-width:100%;

margin:30px auto;

padding:25px;

border-radius:14px;

}

.auth-container input,
.auth-container select,
.auth-container textarea{

padding:12px;

font-size:16px;

}

.auth-container button{

padding:14px;

font-size:16px;

}

.dashboard a{

display:block;

text-align:center;

}

.job-card{

padding:20px;

}

}
